/* Custom Properties */
:root {
    --clr-ocean: rgb(25, 181, 254);
}

/********************** Reusable css ******************************/
.section-title {
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
}

.mt-0 {
    margin-top: 0;
}

.text-white {
    color: white;
}
/********************** Html/Body ******************************/
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

html {
    overflow-y: scroll;
    scroll-padding-top: 4.5rem;
    scroll-behavior: smooth;
    font-family: "Roboto Thin", sans-serif;
    color: #333;
    width: 100%;
    overflow-x: hidden;
}
/********************** Navbar ******************************/
nav{
    height: 6rem;
    width: 100%;
    background-color: #333333;
    display: flex;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
}

/*Styling logo*/
.logo{
    display: flex;
    padding: 1vh 0;
    margin-left: 5vw;
    text-align: center;
}
.logo img {
    height: 2rem;
    width: auto;
    align-self: center;
    cursor: pointer;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-right: 5vw;
}
.nav-links li a{
    display: block;
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-size: larger;
}
.nav-links li a:hover {
    text-decoration-thickness: .5rem;
    text-decoration: underline;
}


/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 1300px){
    nav{
        position: fixed;
        z-index: 100;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        top: 5rem;
        background: #333333;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.5s ease-out;
        padding-top: 1rem;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1800px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: all;
        border-top: .125rem solid white;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    .nav-links li a {
        margin: 1.5rem 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@media only screen and (max-width: 768px) {
    .logo img {
        height: 1.5rem;
    }
}

@media only screen and (max-width: 576px) {
    .logo img {
        height: 1rem;
    }
}
/********************** header/hero ******************************/
.header-title{
    align-self: start;
    margin-top: 2rem;
}

h1 {
    margin-bottom: 0;
    text-align: center;
    align-self: end;
    font-size: 4rem;
    letter-spacing: 0.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
}

.gallery-item {
    margin: 0 8rem 3.25rem 8rem;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 3.5rem !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    .gallery-item {
        margin: 0 4rem 3.25rem 4rem;
    }

    #home-title{
        height: 6rem !important;
        width: auto !important;
        margin-bottom: 7rem !important;
    }

    .header-title{
        align-self: center;
        margin-bottom: 8rem;
    }

}

@media only screen and (max-width: 768px) {
    .section-title {
        font-size: 1.5rem !important;
    }

    #about-us .section-title {
        margin-top: 0 !important;
    }

    #about-us{
        margin-bottom: -4rem !important;
    }

    .container {
        padding: 0;
    }

    .vertical {
        margin: 0 1.5rem !important;
    }

    .divider {
        margin-bottom: 0 !important;
        overflow-x: hidden !important;
        width: 340vw !important;
    }

    svg {
        width: 200vw;
    }

    .gallery-item {
        margin: 0 2.125rem 1.25rem 2.125rem;
    }

    #home-title{
        height: 4.5rem !important;
        width: auto !important;
        margin-bottom: 8rem !important;
    }

    h1 {
        font-size: 2.5rem !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    .header-title{
        align-self: center;
        margin-bottom: 3rem;
}
}

@media only screen and (max-width: 500px) {
    .gallery-item {
        margin: 0 0 1.25rem 0;
    }

    #home-title{
        height: 3.25rem !important;
        width: auto !important;
        margin-bottom: 6rem !important;
    }
    h1 {
        font-size: 1.5rem !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    .header-title{
        align-self: center;
        margin-top: 2rem;
    }
}

.container {
    margin: 0 auto;
    padding: 0 4rem 4rem;
}

#home-title{
    height: 8rem;
    width: auto;
    margin-bottom: 6rem;
}

#hero {
    display:grid;
    justify-content: center;
    align-items: center;
    margin-top: 79px;
    width: 100%;
    height: 35rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    background-image: url("https://img.freepik.com/free-photo/beautiful-shot-sea-with-mountain-distance-clear-sky_181624-2248.jpg?w=2000");
    background-size: cover;
    background-position: center;
}

/**********************assignment******************************/
#assigment-description{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#assigment-description p{
    text-align: center;
    font-size: 1.1rem;
    max-width: 64rem;
    letter-spacing: 2px;
}

@media only screen and (max-width: 1200px) {
    #assigment-description .section-title {
        margin-bottom: 0;
    }
}

/**********************about-us******************************/

#about-us .section-title{
    margin-top: 0;
    margin-bottom: -1rem;
    text-align: center;
    color: #333;
}

#about-us{
    margin-bottom: -12rem;
}

.about-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-us-image {
    display: block;
    margin-bottom: 1rem;
    width: 250px;
    max-width: 100%;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

#hermann {
    object-position: 50% 10%;
}

#aleksander {
    object-position: 50% 18%;
}

.about-us-name{
    text-align: center !important;
    font-weight: bolder;
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
}
/**********************social-media******************************/
.social-menu ul{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 10%;
    padding-left: 0;
    z-index: 10;
}

.social-menu ul li{
    list-style: none;
    margin: 0.5rem 0.5rem;
    display: inline-block;
}

.social-menu ul li .fab{
    font-size: 2em;
    line-height: 60px;
    transition: 0.3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    left: 100%;
    display: block;
    width: 4rem;
    border-radius: 50%;
    background-color: #fffcf8;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #0077b5;
}

/* Status */
#status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#status-container h2 {
    margin-bottom: .25rem;
}


#status p{
    text-align: center;
    font-size: 1.1rem;
    max-width: 64rem;
    letter-spacing: 2px;
}

/**********************footer******************************/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #333;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer p {
    margin: 0.25rem auto;
}

.divider {
    width: 100%;
    margin-bottom: 2rem;
}

.row{
    width:100%;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position:relative;
}

.vertical {
    margin: 0 4rem;
    height: auto;
    border-left: thick solid #ffffff;
}

footer img {
    height: 3rem;
    align-self: center;
}

/************** Sea *************/

.sea {
    position: relative;
    height: 25rem;
    width: 100%;
    overflow: hidden;
    margin-top: -0.1rem;
}

.ocean {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(25,181,254,1) 100%);
}

*, *:before, *:after {
    box-sizing: border-box;
}

.sea .bubble {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f3f3f3;
    opacity: 0.9;
    animation: bubble1-h-movement 2s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
}
.sea .bubble:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.9;
}
.sea .bubble:after {
    top: -20px;
    left: 100px;
    width: 9px;
    height: 9px;
}

.sea .submarine-wrapper {
    height: 300px;
    width: 300px;
    padding: 30px 50px 30px 150px;
    margin: 0 auto 0 auto;
    animation: diving 3s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
}

@media only screen and (min-width: 768px) {
    .sub-move {
        animation: horizontal-sub-movement 4s linear forwards infinite;
    }
}

@media only screen and (min-width: 1200px) {
    .sub-move {
        animation: horizontal-sub-movement 7s linear forwards infinite;
    }
}

.sea .submarine-wrapper .submarine-body {
    width: 150px;
    height: 80px;
    position: absolute;
    margin-top: 50px;
    left: 25px;
    border-radius: 40px;
    background: #D93A54 linear-gradient(#D93A54, #bc243d);
}
.sea .submarine-wrapper .submarine-body .light {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 150px 40px;
    border-color: transparent transparent #c5bd73 transparent;
    transform: rotate(-50deg);
    top: 40px;
    left: 99%;
}
.sea .submarine-wrapper .submarine-body .light:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 13px;
    border-radius: 5px;
    background-color: #d12844;
    margin-left: -10px;
}
.sea .submarine-wrapper .submarine-body .window {
    width: 37px;
    height: 37px;
    position: absolute;
    margin-top: 23px;
    right: 18px;
    background: linear-gradient(#1e4554, #183642);
    border-radius: 50%;
    border: 3px solid #D93A54;
}
.sea .submarine-wrapper .submarine-body .window:after {
    content: "";
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.8;
    border-top: 3px solid white;
    transform: rotate(-45deg);
}
.sea .submarine-wrapper .submarine-body .engine {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 32px;
    left: 53px;
    background-color: #bc243d;
    border-radius: 50%;
    border: 5px solid #D93A54;
}
.sea .submarine-wrapper .submarine-body .engine:after, .sea .submarine-wrapper .submarine-body .engine:before {
    position: absolute;
    content: "";
    border-radius: 2px;
    background-color: white;
    animation: spin 900ms linear infinite;
    opacity: 0.8;
}
.sea .submarine-wrapper .submarine-body .engine:after {
    top: 8px;
    width: 20px;
    height: 4px;
}
.sea .submarine-wrapper .submarine-body .engine:before {
    left: 8px;
    width: 4px;
    height: 20px;
}
.sea .submarine-wrapper .helix {
    width: 30px;
    height: 70px;
    position: absolute;
    margin-top: 55px;
    left: 0;
    background-color: #D93A54;
    border-radius: 7px;
    background: linear-gradient(#D93A54, #bc243d);
}
.sea .submarine-wrapper .helix:after {
    content: "";
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;
    width: 17px;
    height: 60px;
    border-radius: 3px;
    background-color: transparent;
    opacity: 0.8;
    background: linear-gradient(to bottom, #D93A54, #D93A54 50%, #e57a8c 50%, #e57a8c);
    background-size: 100% 20px;
    animation: helix-movement 110ms linear infinite;
}
.sea .submarine-wrapper .hat {
    width: 65px;
    height: 25px;
    position: absolute;
    margin-top: 26px;
    left: 70px;
    background-color: #D93A54;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(#D93A54, #d72d49);
}
.sea .submarine-wrapper .hat .periscope {
    position: absolute;
    width: 7px;
    height: 20px;
    background-color: #D93A54;
    margin-top: -27px;
    margin-left: 32px;
    border-radius: 5px 5px 0 0;
}
.sea .submarine-wrapper .hat .periscope:after, .sea .submarine-wrapper .hat .periscope:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 7px;
    border-radius: 5px;
    background-color: #D93A54;
}
.sea .submarine-wrapper .hat .leds-wrapper {
    width: 53px;
    height: 13px;
    position: relative;
    top: 7px;
    left: 7px;
    background-color: #D93A54;
    border-radius: 10px;
    background: linear-gradient(#b3233a, #a21f35);
}
.sea .submarine-wrapper .hat .leds-wrapper .leds {
    position: absolute;
    margin-top: 4px;
    margin-left: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    animation: leds-off 500ms linear infinite;
}
.sea .submarine-wrapper .hat .leds-wrapper .leds:after, .sea .submarine-wrapper .hat .leds-wrapper .leds:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}
.sea .submarine-wrapper .hat .leds-wrapper .leds:after {
    margin-top: 0px;
    margin-left: 17px;
}
.sea .submarine-wrapper .hat .leds-wrapper .leds:before {
    margin-top: 0px;
    margin-left: 34px;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes leds-off {
    100% {
        opacity: 0.3;
    }
}
@keyframes helix-movement {
    100% {
        background: linear-gradient(to bottom, #e57a8c 50%, #e57a8c, #D93A54, #D93A54 50%);
        background-size: 100% 20px;
    }
}
@keyframes horizontal-sub-movement{
    from {
        transform: translateX(-70vw);
    }
    to {
        transform: translateX(70vw);
    }
}
@keyframes diving {
    0% {
        margin-top: .125rem;
    }
    50% {
        margin-top: 5rem;
    }
    100% {
        margin-top: .125rem;
    }
}
@keyframes diving-rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes bubble1-h-movement {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -100%;
    }
}
@keyframes bubble2-h-movement {
    0% {
        margin-left: 65%;
    }
    100% {
        margin-left: -5%;
    }
}
@keyframes bubble1-v-movement {
    0% {
        margin-top: 115px;
    }
    100% {
        margin-top: 160px;
    }
}
@keyframes bubble2-v-movement {
    0% {
        margin-top: 115px;
    }
    100% {
        margin-top: 90px;
    }
}
@keyframes bubble-scale-movement {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(0.9);
    }
}
@keyframes light-movement {
    0% {
        transform: rotate(-40deg);
    }
    50% {
        transform: rotate(-70deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}
/*praksis hos oxidane*/
#header-title-our-internship{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

#header-title-our-internship p{
    text-align: center;
    font-size: 1.1rem;
    max-width: 64rem;
    letter-spacing: 2px;
}

.internship-img {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 0 auto;
    gap: 2rem;
    margin-bottom: 4rem;
}

.internship-img img {
    width: 100%;
    height: auto;
}

.logo a {
    display: flex;
}